:root {
    --clr-bg-primary: #f9fafb; --clr-bg-secondary: #fff; --clr-bg-accent: #f3f4f6;
    --clr-txt-primary: #111827; --clr-txt-secondary: #374151; --clr-txt-accent: #6b7280; --clr-txt-inverse: #fff;
    --clr-border-light: #e5e7eb; --clr-border-medium: #d1d5db;
    --clr-accent: #2563eb; --clr-accent-hover: #1d4ed9; --clr-accent-light: #dbeafe; --clr-accent-muted: #93c5fd;
    --clr-overlay: rgba(0, 0, 0, 0.4); --clr-shadow: rgba(0, 0, 0, 0.1); 
}
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16px;
    background-color: var(--clr-bg-primary); color: var(--clr-txt-primary); display: flex; justify-content: center; align-items: center; height: 100vh;
}
img {
    max-width: 100%; height: auto;
}
.container {
    background-color: var(--clr-bg-secondary); padding: 2rem; border-radius: 1rem; box-shadow: 0 4px 6px var(--clr-shadow); width: 100%; max-width: 400px;
}
.container .icon {
    width: 100%; text-align: center; margin-bottom: .5rem;
}
.container .icon img {
    width: 80px; height: auto;
}
.container h1 {
    text-align: center; margin-bottom: 0.5rem; font-size: 1.7rem; font-weight: 600; color: var(--clr-txt-primary); font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
.container p {
    text-align: center; margin-bottom: 1.5rem; color: var(--clr-txt-secondary);
}
form {
    display: flex; flex-direction: column; gap: 1rem; text-align: left;
}
form label {
    display: block; margin-bottom: 0.25rem; font-weight: 500; color: var(--clr-txt-secondary); font-size: 0.9rem;
}
form input[type="email"], form input[type="password"] {
    width: 100%; padding: 0.75rem; border: 1px solid var(--clr-border-medium); border-radius: 0.375rem; font-size: 1rem; color: var(--clr-txt-primary);
    background-color: var(--clr-bg-primary); transition: all 0.2s ease-in-out;
}
form input::placeholder {
    color: var(--clr-txt-accent); font-size: .875rem;
}
form input:focus {
    border-color: var(--clr-accent); box-shadow: 0 0 0 3px var(--clr-accent-light); outline: none;
}
.remember-me {
    display: flex; align-items: center; font-size: 0.875rem; color: var(--clr-txt-secondary); justify-content: space-between;
}
.remember-me a {
    margin-left: auto; color: var(--clr-accent); text-decoration: none; transition: all 0.2s ease-in-out;
}
.remember-me a:hover {
    color: var(--clr-accent-hover); text-decoration: underline;
}
form .btn {
    width: 100%; padding: 0.75rem; background-color: var(--clr-accent); color: var(--clr-txt-inverse); border: none; border-radius: 0.375rem; font-size: 1rem; font-weight: 600;
    cursor: pointer; transition: all 0.2s ease-in-out; margin-bottom: 1rem;
}
form .btn:hover {
    background-color: var(--clr-accent-hover);
}
.footer {
    text-align: center; font-size: 0.875rem; color: var(--clr-txt-secondary);
}
.footer a {
    color: var(--clr-accent); text-decoration: none; transition: all 0.2s ease-in-out;
}
.footer a:hover {
    color: var(--clr-accent-hover); text-decoration: underline;
}